footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff7777;
  height: 80px;
  background-size: 50px;
  color: #fff;
  text-align: center;
  width: 100%;

}
.foot {
 
    
    margin: 1%;
    text-align: center;
    
    
  }