#texto-vinos {
    margin: 3%;
    padding: 3%;
    border-style: solid;
    border-color: $color-principal;
    border-width: 3px 4px 3px 4px;
    background-color: rgb(247, 185, 185);
    align-items: center;
    line-height: 29px;
    
  }
  h1 {
    
    text-align: center;
    margin-top: 2%;
  }
  .instagram {
    align-items: center;
  }