*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
@import 'mediasqueries';
@import 'variables';
@import 'header';
@import 'footer';
@import 'carrito';
@import 'contacto';
@import 'index';
@import 'sobrenosotros';

